body{
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font:12px/15px "Helvetica Neue",Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* Register-start */
.container{
    height: 100vh;
    width:30%;
  
  }
  
  .container .box{
    position: absolute;
    width: 350px;
    top:23%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #fff;
    padding: 25px 25px 45px 25px;
    border-radius: 20px;
    margin-top: 100px;
  }
  .h2-f{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .box .input_box{
    width: 100%;
  }
  .box .input_box input[type="text"]{
    width: 100%;
    font-size: 15px;
    margin: 16px 0px;
    outline: none;
    border-width: 0px 0px 2px 0px;
    border-color: #cd7acd;
  }
  .box .input_box input[type="email"]{
    width: 100%;
    font-size: 15px;
    margin: 16px 0px;
    outline: none;
    border-width: 0px 0px 2px 0px;
    border-color: #cd7acd;
  }
  
  .box .input_box label{
    position: relative;
    left: 0;
    top: -35px;
    font-size: 15px;
    color: #0000009e;
    pointer-events: none;
    transition: 0.2s;
  }
  
  .box .input_box input:focus + label,
  .box .input_box input:valid + label{
    top: -50px;
    font-size: 12px ;
  }
  
  .box .register_button{
    width: 100%;
    background: linear-gradient(45deg, #875cff , #ff66d7);
    border: none;
    padding: 8px 14px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.2s;
  }
  
  .box .register_button:active{
    transform: scale3d(0.9, 0.9, 0.9);
  }
  
  .box  .login_link{
    font-size: 20px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
  
  .box .login_link a{
    color: #000;
    text-decoration: none;
  }
  
  .box .login_link a:hover{
    text-decoration: underline;
  }
  /* Register-end */